* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.main h2 {
    padding-bottom: 1rem;
}

.main .side-dashboard {
    width: 25vw;
    height: 100vh;
    border-radius: 5px;
    padding: 2rem;
    background: #0000000f;
}

.main .side-dashboard .menu {
    padding-top: 2rem;
}

.main .side-dashboard .menu ul {
    list-style: none;
}
.main .side-dashboard .menu ul a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.main .side-dashboard .menu ul li{
    padding: 1rem .5rem;
    background: #dae1ea;
    margin-bottom: .5rem;
   
}
.main .side-dashboard .menu ul li:hover{
    background: #dae1ea1b;
}
.active{
    background: #3a4b61 !important;
    color: #dae1ea;

}
.main .content {
    width: 75vw;
    height: 100vh;
    padding: 2rem;   
}
.msg{
    width: 100%;
    background: #dae1ea;
    padding: .8rem;
    font-size: 18px;
    display: none;
    justify-content: space-between;align-items: center;
    margin-bottom: 1rem;
}
.main .content form {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 60vw;
    height: 70vh;
}

.main .content form .title ,.main .content form textarea {
    margin-top: .5rem;
    padding: 0.5rem 1rem;
    width: 40vw;
    margin-bottom: 2rem;
    background: transparent;
    border-radius: 10px;
    border: 1px solid black;
}
.main .content form button {
padding: 0.4rem 0;
width: 40vw;
border-radius: 5px;
background: #0d881b;
font-size: 18px;
color: aliceblue;
border: none;
cursor: pointer;
}
.completeDiv{
height: 2rem;
width: 6rem;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 1rem;
margin-left: .5rem;
}

.main .content form button:hover{
background: #0d881bd2;

}