
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    height: 100vh;
    max-width: 100vw;
    display: flex;

}
.main .side-dashboard {
    width: 25vw;
    height: 100vh;
    border-radius: 5px;
    padding: 2rem;
    background: #0000000f;
}

.main .side-dashboard .menu {
    padding-top: 2rem;
}

.main .side-dashboard .menu ul {
    list-style: none;
}

.main .side-dashboard .menu ul a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.main .side-dashboard .menu ul li {
    padding: 1rem .5rem;
    background: #dae1ea;
    margin-bottom: .5rem;

}
.main .side-dashboard .menu .log-out{
    background-color: rgba(231, 157, 157, 0.959);
}
.main .side-dashboard .menu .log-out:hover{
    background-color: rgba(231, 126, 126, 0.959);

}
.active {
    background: #3a4b61 !important;
    color: #dae1ea;

}
.active:hover{
    background: #2a405c !important;

}

.main .side-dashboard .menu ul li:hover {
    background: #dae1ea1b;
}
.page-name{
    padding-bottom: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   }
   .page-name .dark-mode{
   display: flex;
   cursor: pointer;
   }
   
.msg{
    width: 100%;
    background: #dae1ea;
    padding: .8rem;
    font-size: 18px;
    display: none;
    color:black;
    justify-content: space-between;align-items: center;
    margin-bottom: 1rem;
}
table{
    border: 1px solid white;
}

@media only screen and (max-width:876px) and (min-width:558px) {
    .main{
        display: block;
        flex-direction: column;
    }
    .main .profile h2 {
        padding-bottom: 0;
    }
    .main .side-dashboard {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 5rem;
        border-radius: none;
        position: relative;
    }
    
    .main .side-dashboard .menu {
        padding-top: 0rem;
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    
    .main .side-dashboard .menu ul {
        position: absolute;
        align-items: center;
        right: 6rem;
        gap:.5rem;
        width: 60vw;
        display: none;
        margin-top: 7rem    ;
        z-index: 11;
        
    } 
    .main .side-dashboard .menu ul li{
        margin-bottom: 0;
    } 
.ham{
    height: 100%;
    width: 3rem;
    display: block;
    cursor: pointer;
    
}
.ham .line{
    margin-bottom: .5rem;
    height: 2px;
    background: #000;
}
.ham .line1{
    width: 100%;
}
.ham .line2{
    width: 70%;
    float: right;
    
}
.ham .line3{
    width: 100%;
    float: right;
} 
}
@media only screen and (max-width:558px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .main .profile h2 {
        padding-bottom: 0;
        width: 3.9rem;
        min-width: 2rem;
    }
    .main .side-dashboard {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 5rem;
        border-radius: none;
        position: relative;
    }
    
    .main .side-dashboard .menu {
        padding-top: 0rem;
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    
    .main .side-dashboard .menu ul {
        position: absolute;
        align-items: center;
        right: 6rem;
        gap:.5rem;
        width: 60vw;
        display: none;
        margin-top: 7rem    ;
        z-index: 11;
        
    } 
    .main .side-dashboard .menu ul li{
        margin-bottom: 0;
    }
  
.ham{
    height: 100%;
    width: 3rem;
    display: block;
    cursor: pointer;
    
}
.ham .line{
    margin-bottom: .5rem;
    height: 2px;
    background: #000;
}
.ham .line1{
    width: 100%;
}
.ham .line2{
    width: 70%;
    float: right;
    
}
.ham .line3{
    width: 100%;
    float: right;
}
}
