
.main .content {
    width: 75vw;
    height: 100vh;
    padding: 2rem;
    /* display: flex; */
overflow: auto;
}
.task-filter{
    width: 100%;
}
.task-filter ul {
    display: flex;
    align-items: center;
    height: 3rem;
    gap: 2rem;
    list-style: none;
}
.task-filter ul li{
    cursor: pointer;
}
.task-filter ul li:hover{
    color: rgba(0, 0, 0, 0.647);
}
.task-filter ul .active-filter{
    border-bottom: 2px solid black;
    cursor: pointer;
}

.search{
float: right;
margin: 1rem auto;
}
.search input{
padding: .3rem 1rem;
border-radius: 5px;
border: 1px solid black;
}
table {
    margin-top: 2rem;
    width: 100%;
    max-height: 70vh;
    text-align: center;
}

table,
table th,
table td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 1rem;
}
table tbody tr:nth-child(odd){
    background: #3a4b61;
    color: #dae1ea;
}
.sorting-reverse{
    font-weight: 900;
    float: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: gray;
    cursor: pointer;
    font-size: 13px;
}
.sorting-reverse:hover{
    color: black;
}
button{
    padding: .2rem 1rem;
    margin-left: .3rem;
    margin-top: .3rem;
    cursor: pointer;
    border: none;
    color: aliceblue;
    border-radius: 5px;
}
button:hover{
    opacity: .7;
}
.delete-btn{
    background:red;
}
.edit-btn{
    background:blue;
}
.no-task{
    text-align: center;
    font-size: 20px;
    margin-top: 2rem;
    display: none;
}
footer{
    height:5rem;
    line-height:5rem;
    background:#3a4b61;
    text-align:center;
    color:#dae1ea;
    
}
@media only screen and (max-width:876px) and (min-width:558px) {
    .main .content {
        width: 100vw;
        height: 91vh;
        padding: 2rem;

    }
 table {
        margin-top: 2rem;
        margin: 0 0 0;
        max-height: 70vh;
        text-align: center;
    }
    table,
table th,
table td {
    padding:.7rem;
}
}
@media only screen and (max-width:558px){
    .main .content {
        width: 100vw;
        height: 91vh;
        padding: 2rem;
    }
 table {
        margin-top: 2rem;
        margin: 0 0 0;
        max-height: 70vh;
        text-align: center;
    }
    table,
table th,
table td {
    padding:.7rem;
}
}
